.nav-bar {
  background: #e6dde7;
  font-weight: bold;
}
.inActive {
  color: gray;
}
.active {
  color: #a43539;
  border-bottom: 2px;
}
.photoUrl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
